.banner-container {
  width: 100%;
  height: 300px;
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  position: relative;
}

.imgBanner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
}
